<h2>Add Country</h2>

<form action="/process-country" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="name">name</label>
  <input id="name" type="text" name="name" placeholder="Country Name">

  <br>

  <label for="description">Description</label>
  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  
  <br>

  <label>
  Language
  <input type="text" name="language" placeholder="languge">
  </label>
  <br>

  <label>
  Currency:
  <input type="text" name="currency" placeholder="Currency">
  </label>
  <br>

  <label>
  Upload Picture:
  <input type="file" name="picture">
  </label>

  <br>

  <label>
  Upload Video:
  <input type="file" name="video"> 
  </label>


</form> 