<h1>Admin Zone</h1>

<h2>User List</h2>


<ul class="list-group">
  {{#each userList}}
  <li class="list-group-item">
    {{#if ../theUser.isAdmin }}
    <h3>{{this.username}}</h3>
    <ul>
      <li>Email: {{this.email}} </li>
      <li>Role: {{this.role}} </li>
    </ul>
    {{#if this.isntAdmin}}
    <button class="btn btn-danger float-right">
    <a href="/admin/users/{{this._id}}/delete">Remove User</a>
    </button>
    {{/if}} {{/if}}
  </li>
  {{/each}}
</ul>