<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">We understand moving to a new city can be difficult and we are here to provide you with all the help we can.</p>
  <hr class="my-4">
  <p>We have created this platform so that you're able to recommend the best places in your town or get necessary information about the place of your interest.</p>
</div>

