<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        {{#if activeUser.isAdmin}}
        <a href="/admin">Admin</a>
        {{/if}}
        <a href="/">Home</a>
        <a href="/get-started">Get Started</a>
        <a href="/culture">Culture Awarness</a>
        <a href="/how-to-get-around">How to get around</a>
        <a href="/auth/signup">Sign Up</a>

      </nav>
    </header>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
