body {
  padding: 30px;
  font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/bak5.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.cloud{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3%;
  margin: 1% 15%;
  border-radius: 15px;
}

nav{
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0% 15%;
  border-radius: 15px;
  padding: 0% 3%;
}

nav a{
  font-size: 2.5vh;
  color: black;
  font-weight: 600;
}

.btns-login{
  position: absolute;
  top: 15px;
  right: 2%;
}

.drop-login{
  position: absolute;
  top: 20px;
  right: 3%;
}

.drop-login-one{
  margin: 3px;
}

.btn-country{
  position: fixed;
  top: 30px;
  left: 30px;
}

.btns-login button,
.btn-admin{
  margin: 2px;
}

.btn-admin a,
.btn-country a,
.btns-login a{
  color: white;
  font-weight: 500;
}

.btn-outline-dark a:hover{
  color: white;
}

.trans-map{
  height: 450px;
  width: 100%;
}

.foodmap,
.medmap{
  height: 300px;
  width: 100%;
}

.custom{
  margin: 2px;
  width: 100%;
}

.recommend a{
  color: #5A6268;
}

.recommend a:hover{
  color: white;
  text-decoration: none;
}

.rec-name,
.rec-type,
.rec-des{
  margin: 2px;
  font-size: 2vh;
}

.rec-type{
  font-size: 2.5vh;
}

.rec-name{
  font-size: 3vh;
}

.users-li{
  list-style-type: none;
}

h2{
  text-align: center;
}

.admin-users{
  margin: 0 10%;
}

.mine{
  margin-right: 25px;
}