<h2>Recommend a Restaurant or a Place</h2>

<form action="/process-resto" method="POST">
<div class="form-group">
    <label for= "name" >Name:</label>
    <input id="name" type="text" name="name" placeholder="Awesome Food..." class="form-control"/>
</div>

<div class="form-group">
    <label for= "type" >Type of Place:</label>
    <input id="type" type="text" name="type" placeholder="resturant, shop, area..." class="form-control"/>
</div>

<div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" name="description" cols="30" rows="6" placeholder="what makes this place unique..." class="form-control"></textarea>
</div>

<div class="form-group">
    <label for="address">Location:</label>
    <input id="address" type="text" placeholder="address..." class="location-input form-control" /> 
</div>

  <!-- these will be set by out Place Autocomplete -->
  <input type="hidden" name="latitude" class="lat-input" />
  <input type="hidden" name="longitude" class="lng-input" />

  <button class="btn btn-outline-dark">Save This Restaurant</button>
</form>

<div class="foodmap" style="display: none;"></div>
