<h2>Language Course</h2>

<div class="row">
{{#each showingVideo}}
<div class="card mine" style="width: 18rem;">
  <video width="300" height="200" controls class="card-img-top" alt="Card image cap">
    <source src="{{this.mediaFile}}" type="video/mp4"></source>
    </video>
  <div class="card-body">
    <br>
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"></p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
</div>
{{/each}}
</div>






  {{!-- <video
    id="language"
    class="video-js"
    controls
    preload="auto"
    poster=""
    data-setup='{}' 
    width="300"
    height="200">
  
  <source src="{{this.mediaFile}}" type="video/mp4"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>
<p></p> --}}